In [1]:
import numpy as np
import pandas as pd

# Utilities
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split 

# Basic classifier models
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

# Ensembling methods
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier

# Metrics
from sklearn.metrics import accuracy_score, roc_curve, roc_auc_score

In [7]:
white_wine_data = pd.read_csv("data/winequality-white.csv")
white_wine_data = white_wine_data.astype(float)

new_columns = ['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar', 'chlorides',
              'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density', 'pH', 'sulphates', 'alcohol', 'quality']
white_wine_data[new_columns] = white_wine_data[white_wine_data.columns[0]].str.split(';', expand=True)
white_wine_data = white_wine_data.drop(columns=white_wine_data.columns[0])

white_wine_data['acid acidity'] = white_wine_data['acid acidity'].astype(float)

ValueError: could not convert string to float: '7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6'

In [9]:
white_wine_data.dropna()

     fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0      7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6
1     6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...
2     8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...
3     7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...
4     7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...
...                                                 ...
4893  6.2;0.21;0.29;1.6;0.039;24;92;0.99114;3.27;0.5...
4894  6.6;0.32;0.36;8;0.047;57;168;0.9949;3.15;0.46;...
4895  6.5;0.24;0.19;1.2;0.041;30;111;0.99254;2.99;0....
4896  5.5;0.29;0.3;1.1;0.022;20;110;0.98869;3.34;0.3...
4897  6;0.21;0.38;0.8;0.02;22;98;0.98941;3.26;0.32;1...

[4898 rows x 1 columns]

In [5]:
# Show the general statistics of white wines
white_wine_data.describe()

       fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
count                                                4898
unique                                               3961
top     7.3;0.19;0.27;13.9;0.057;45;155;0.99807;2.94;0...
freq                                                    8